{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "singleAttributePerLine": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "quoteProps": "consistent",
  "tabWidth": 2,
  "endOfLine": "auto"
}
